<%- include('../include/header') %>
<script src="../assets/js/login.js"></script>
<div class="login">
<div class="login-section">
    <div class="login-container">
        <form id="form" class="signin-form parent" >
                <div class="input-group mb-3 child">
                    <input autocomplete="off" type="text" name="username" class="form-control" placeholder="Username" value="" id="username" required>
                    </div>
                <div class="input-group mb-3">
                    <input autocomplete="off" type="text" name="password" class="form-control" placeholder="Password" value="" id="password" required>
                  </div>
                <div class="form-group mx-auto">
                    <button type="submit" id="login-btn" class="form-control btn btn-primary submit">Login</button>
             
                </div>
        </form>
    </div>
</div>
</div>
<%- include('../include/footer') %>

  