<%- include('include/header') %>
<diV class="admin">
<%- include('include/show') %>
<div class="admin-section">
  <%- include('include/table') %>
</div>
</div>
<%- include('include/footer') %>

<script type="text/javascript">
  $(document).ready( function () {
    $('#admin').DataTable();
} );
  </script>


  