<%- include('include/header') %>
<diV class="home">
<%- include('include/show') %>
<div class="home-section">
    <div class="text"><h1 class="display-3 fw-bold">
      Lacak Status<br>Permohonan
    </h1></div>
    <p class="cari-resi">Pilih Nomor Resi hanya jika permohonan dilakukan melalui pos dan tidak mengetahui Nomor BPS Anda.</p>
    <%- include('include/form') %>
</div>
</div>
<%- include('include/footer') %>