</body>
<footer class="d-flex flex-wrap justify-content-end py-1">
    <ul class="nav">
      <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-sign-out fs-3"></i></a></li>
    </ul>
</footer>
</html>