<div class="input">
    <div class="form-group mb-3 col-md-4 input-margin">
      <select class="form-select input-width" id="select-bps" aria-label="Default select example">
        <option value="bps">Berdasarkan Nomor BPS</option>
        <option value="resi">Berdasarkan Nomor Resi</option>
      </select>
    </div>
      <div class="form-group mb-3 col-md-4 input-margin">
        <input type="text input-width" class="form-control" value="" placeholder="Input Nomor">
      </div>
    <div class="button">
    <button type="button" class="btn btn-primary mb-3" id="nomor-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Cari</button>
    </div>
</div>