<div class="admin-table">
    <div class="card card-body">
      <div class="table-responsive">
        <table style="text-align: center; vertical-align: middle;" class="table table-striped" id="admin">
          <thead>
            <tr>
              <th>Nomor BPS</th>
              <th>Nama Wajib Pajak</th>
              <th>NPWP</th>
              <th>Jenis Permohonan</th>
              <th>Status Permohonan</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td style="text-align: right;"></td>
                <td style="text-align: right;"></td>
                <td style="text-align: right;"></td>
                <td style="text-align: right;"></td>
                <td style="text-align: right;"></td>
                <td><button type="button" class="btn btn-success" id="pilih-btn">Ubah</button></td>
                <td><button type="button" class="btn btn-danger" id="pilih-btn">Hapus</button></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>